body, html { 
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: black;
}
.canvasContainer {
  position: absolute;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
#gameCanvas {
  z-index: 999;
  width: 70vw;
  height: 100vh;
  position: absolute;
}
.mainContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
}
.gameContainer {
  display: flex;
  flex-direction: row;
  background-color: black;
}
.leftSide {
  width: 15vw;
  /* background-image: url("https://therush.files.wordpress.com/2013/08/invaders.png"); */
  background-size: contain;
  border-right: 1px solid white;
  animation: upScroll 20000s linear infinite;
  z-index: 1000;
}
.middlePart {
  display: flex;
  justify-content: center;
  width: 69.8vw;
}
.rightSide {
  width: 15vw;
  /* background-image: url("https://therush.files.wordpress.com/2013/08/invaders.png"); */
  background-size: contain;
  border-left: 1px solid white;
  animation: downScroll 20000s linear infinite;
  z-index: 1000;
  position: relative;
}
@keyframes upScroll {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px -8000008px;
  }
}
@keyframes downScroll {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px 8000008px;
  }
}
