body, html { 
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}















/* .mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
} */
/* .gameContainer {
  display: flex;
  flex-direction: row;
  background-color: black;
}
.leftSide {
  width: 20vw;
  background-image: url("https://therush.files.wordpress.com/2013/08/invaders.png");
  background-size: contain;
  border-right: 1px solid white;
  animation: upScroll 20s linear infinite;
  z-index: 100;
}
.middlePart {
  width: 60vw;
}
.rightSide {
  width: 20vw;
  background-image: url("https://therush.files.wordpress.com/2013/08/invaders.png");
  background-size: contain;
  border-left: 1px solid white;
  animation: downScroll 20s linear infinite;
  z-index: 100;
  position: relative;
} */
/* #gameCanvas { */
  /* z-index: 999; */
  /* position: absolute; */
  /* top: 0; */
/* } */
/* @keyframes upScroll {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px -8000008px;
  }
}
@keyframes downScroll {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px 8000008px;
  }
} */
