body {
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P", cursive;
}
.mainContainer {
  width: 100vw;
  height: 100vh;
  /* background-image: url("https://www.codeproject.com/KB/scripting/681130/ScreenshotStarfield.png"); */
  background-color: black;
}
.mainContent {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100000;
}
#title {
  padding-top: 20px;
  width: 40%;
}
#pointGraph {
  padding-top: 5px;
  width: 20%;
}
.buttonContainer {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  width: 35%;
  height: 10vh;
}
#placeHolderAfter {
  color: black;
  background-color: white;
  box-shadow:   -7px 0 0 0 rgb(255, 255, 255),
  7px 0 0 0 rgb(255, 255, 255),
  0 -7px 0 0 rgb(255, 255, 255),
  0 0px 0 0 rgb(255, 255, 255);
  padding: 3px 10px 7px 12px;
  width: 30vh;
  text-align: center;
}
#userName {
  border: none;
  background: transparent;
  outline: none;
  text-align: center;
  color: white;
  font-size: 2.5vh;
  padding: 10px;
  font-family: "Press Start 2P", cursive;
  box-shadow:   -7px 0 0 0 rgb(255, 255, 255),
                 7px 0 0 0 rgb(255, 255, 255),
                 0 -7px 0 0 rgb(255, 255, 255),
                 0 7px 0 0 rgb(255, 255, 255);
}
::placeholder {
  color: white;
  opacity: 1;
}
.userInputs {
  border-style: none;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 20px;
  position: relative;
  display: block;
  padding-bottom: 3px;
  color: white;
}
.userInputs:focus + label > span,
.userInputs:valid + label > span {
  -webkit-transition: top 0.2s ease, font-size 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease;
  position: absolute;
  top: -25px;
  font-size: 17px;
  display: none;
}
#userNameText {
  color: white;
  position: relative;
  top: -30px;
}
#playBtn {
  outline: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5vw;
  font-family: "Press Start 2P", cursive;
  overflow: hidden;
  opacity: 0;
}
#playBtn:hover {
  cursor: crosshair;
}
#playBtnLink {
  text-decoration: none;
}
#leaderBoardBtn {
  padding-top: 1.5vh;
  outline: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5vw;
  font-family: "Press Start 2P", cursive;
  opacity: 0;
}
.leaderBoardContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 10000;
}
#lBContainer {
  display: none;
}
.leaderBoard {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  position: fixed;
}
#leaderBoardTitle {
  font-size: 4vh;
  margin-top: 2vh;
  font-family: "Press Start 2P", cursive;
}
#closeLeaderBoard {
  position: absolute;
  bottom: 10.5vh;
  font-size: 2vh;
  font-family: "Press Start 2P", cursive;
  color: white;
}
.scoreContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  overflow-y: auto;
  height: 75%;
}
.scoreContainer::-webkit-scrollbar {
  display: none;
}
.scoreNames {
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 2.5vh;
  margin-top: 3vh;
}
.mainContainer {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
}
.gameContainer {
  display: flex;
  flex-direction: row;
  background-color: black;
}
.leftSide {
  width: 15vw;
  background-image: url("https://therush.files.wordpress.com/2013/08/invaders.png");
  background-size: contain;
  border-right: 1px solid white;
  animation: upScroll 30000s linear infinite;
  z-index: 1000;
}
.middlePart {
  display: flex;
  justify-content: center;
  width: 70vw;
  z-index: -10;
}
.rightSide {
  width: 15vw;
  background-image: url("https://therush.files.wordpress.com/2013/08/invaders.png");
  background-size: contain;
  border-left: 1px solid white;
  animation: downScroll 30000s linear infinite;
  z-index: 1000;
  position: relative;
}
@keyframes upScroll {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px -8000008px;
  }
}
@keyframes downScroll {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px 8000008px;
  }
}
